/* main.css - Dropsignal main css.
This file is part of the dropsignal package.
Copyright 2016-2019 Guilhem Doulcier, Licence GNU AGPL3+*/

/* Layout */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer a{
    text-decoration: underline;
    text-decoration-color: #4e79a7;
    color:  #555555;
}

/* Loader */
#wait svg{
  border: 5px solid black;
  border-radius: 25px;
  width:300px;
  height:170px;
}
#wait.splash svg{
    position: absolute;
    margin: -85px 0 0 -150px;
    top:50%;
    left:50%;
}

#anim {
    text-align:center;
    maring:auto;
}

#logframe{
    max-height:40em;
    overflow-y:scroll;
}



#wait.splash{
    position:   fixed;
    background-color: rgba( 0, 0, 0, .1 );
    z-index:    1000;
    top:        0;
    left:       0;

    height:     100%;
    width:      100%;
}

#wait .laser{
  fill:#C24231;
  filter: url(#blurFilter4);
}

#spinner .laser{
  fill:#C24231;
  filter: url(#blurFilter);
}


#wait #tube, #spinner .tube{
  fill:#5D95A2;
  stroke:#023A47;
  stroke-width:4;
}

#wait .droplet, #spinner .droplet{
  fill:#e7f5f8;
  stroke:#216778;
  stroke-width:3;
}

/* Graphs */


select:disabled {
    color: #00000000;
}

#yaxis text {
    font-size:0.8em;
}

.axis path {
	shape-rendering: crispedges;
	fill:           none;
	stroke: black;
}

.row canvas {
    display: block;
    margin:auto;
}

.brush .extent {
  fill: rgba(0,0,0,0.12);
  stroke: rgba(255,255,255,0.6);
  shape-rendering: crisp-edges;
}

.plot img {
    max-width:100%
}


#run_select {
	display:block;
	clear:both;
}

.scroll{
    height:100px;
    overflow:auto;
}

.channel-label{
    margin-right:5px;
    font-size:1.3em;
}

.row h4{
    margin-top:0px;
}


input[type="color"] {
    width: 5em;
    display: inline;
}

fieldset{
    display:inline;
    padding:0px;
    border:0.1px solid #BBBBBB;
}

.navbar label{
    margin-left:0.3em;
    margin-right:0.2em;
}


/*Tooltip */
h3 span:after, h4 span:after, fieldset.tipped:after{
    content: " [?] ";
    color:rgba(0,0,0,0.15);
}

.tooltip_peaks {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  left: 130px;
  padding: 1em;
  position: absolute;
  top: 95px;
  min-width: 60px;
  max-width: 200px;
  z-index: 10;
}


.tooltip_peaks h3{
    text-align: center;
}

/*forms*/
.modified input{
    background-color:aliceblue;
}

#groups ul {
    overflow-y:auto;
}

.table-overflow{
    overflow-x:auto;
    max-width:100%;
}
