<main  class="container-fluid">
    <div class="row">
      <div id="control"></div>
      <svg id="main_graph"></svg>
    </div>

    <div class="row">
      <div id="plate" class="col-md-4">
	<h3> Microplate overview </h3>
      </div>
      <div id="legend" class="col-md-4">
	<h3> Groups </h3>
      </div>
      <div id="segments" class="col-md-4">
	<h3> Current selection </h3>
      </div>
    </div>
  </main>
