{{header}}
<main class="container">
  <h1> Help </h1>
  <div class="jumbotron">
    <p><a href="https://gitlab.com/evomachine/dropsignal">Dropsignal</a>,
    is a free and open source software to process and display
    millifluidic droplet trains measurements.<br/>
      <ul>
	<li><a href="https://evomachine.gitlab.io/dropsignal/manual.html"> User's manual</a></li>
	<li><a href="https://evomachine.gitlab.io/dropsignal/"> General documentation</a> </li>
	<li><a href="https://gitlab.com/evomachine/dropsignal/issues/">Issue tracker</a> (<a href="https://gitlab.com/evomachine/dropsignal/issues/new?">Submit a new issue </a>)</li>
      </ul>
  </div>
{{footer}}
